@use '../../../styles/variable' as v;

.dashboard-container {
  min-height: 100vh;
  background-color: var(--bg-primary);

  .dashboard-content {
    max-width: v.$max-dashboard-width;
    margin: 0 auto;
    padding: v.$space-7 v.$space-8;

    .summary-cards-section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: v.$space-6;
      margin-bottom: v.$space-7;

      @media (max-width: 75rem) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 48rem) {
        grid-template-columns: 1fr;
      }
    }

    .main-content-row {
      display: grid;
      grid-template-columns: 1fr 23.75rem;
      gap: v.$space-7;

      @media (max-width: 75rem) {
        grid-template-columns: 1fr;
      }
    }

    .table-section,
    .chart-section {
      mat-card-content {
        padding: v.$space-7;
      }

      .section-header {
        font-size: v.$font-base;
        font-weight: 700;
        letter-spacing: 0.03125rem;
        color: #{v.$gray-1000};
        margin-bottom: v.$space-6;
      }
    }

    .table-section {
      .search-section {

        .search-input {
          width: 100%;

          &::placeholder {
            color: var(--text-secondary);
          }

          &:focus {
            outline: none;
            border-color: var(--accent-color);
            box-shadow: var(--focus-ring);
          }
        }
      }
    }

    .chart-section {
      display: flex;
      flex-direction: column;
      height: max-content;
    }
  }
}