<div class="chart-container">
  <div class="chart-wrapper">
    <canvas 
      baseChart
      [data]="doughnutChartData"
      [options]="doughnutChartOptions"
      type="doughnut">
    </canvas>
    <div class="chart-center-text">
      <div class="center-value">100%</div>
      <div class="center-label">{{ totalTypes }} types</div>
    </div>
  </div>
  <div class="chart-legend">
    @for (item of legendItems; track item.label) {
      <div class="legend-item">
        <span class="legend-dot" [style.background-color]="item.color"></span>
        <span class="legend-label">{{ item.label }}</span>
      </div>
    }
  </div>
</div>
